/*********** Layout ***********/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Trebuchet MS', sans-serif;
  background: #051b24;
  color: #fff;
}

.game {
  max-width: 350px;
  margin: 3rem auto;
  padding: 0 1rem;
}